body {
	font-family: "lora", serif;
	background: $Off-Pink;
}

h1 {
	font-size: 300px;
	color: $Dark-Grey;
	font-weight: 100;

	.dot {
		color: $Pure-Pink;
	}
}

.clock-face {
  border: solid 40px hsla(51, 19%, 86%, 0.2);
  outline: solid 10px hsla(51, 19%, 86%, 0.5);
	height: 300px;
	width: 300px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


// inner circle
  &::after{
    width: 30px;
    height: 30px;
    background: $Pure-Pink;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    content: "";
  }
}

.hands {
	height: 90%;
	width: 90%;
  transform: rotate(90deg);
}

.hand{
  width: 50%;
  height: 2px;
  border-radius: 20px / 50%; // Sharp the hand's edges
  background: black;
  transform-origin: 100%;
  position: relative;
  top: 50%;

  &.hour-hand{
    background: $Dark-Grey;
    border: solid 3px $Dark-Grey;
    top:95px; // Offset hand fix
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  &.min-hand{
    background: $Grey;
    border: solid 2px $Dark-Grey;
    position: relative;
    top:89px; // Offset hand fix
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  &.second-hand{
    background: $Soft-Grey;
    position: relative;
    top:89px; // Offset hand fix
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
}
